<li>
  <%= link_to product.name, product %>
  <% if current_user.admin? %> |
    <%= link_to t("delete"), admin_product_path(product), method: :delete, data: {confirm: t("you_sure")} %>
  <% end %>
</li>
