<h1><%= t ".title" %></h1>
<div class="row">
  <%= render "filter" %>
  <div class="col-sm-9">
    <%= will_paginate %>
    <ul class="users">
      <%= render partial: "shared/product", collection: @products %>
    </ul>
  </div>
<div>

